
.album-list {
    position: relative;
    list-style:none;
    width: 100%;
    font-size:110%;
    padding:30px 30px 30px 30px;
    background-image: linear-gradient(snow, #ecccd5, snow);
    z-index: 10;
}

.list-header {
    display: flex;
    justify-content: center;
    padding: 15px 5px 15px 5px
}

.li-item {
    display:inline-block;
    vertical-align:middle;
    width:45%;
    background-color: snow;
    margin: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
    float: none;
}

.album-cover {
    width: 30%;
}
