/* some styles referenced from: https://plainenglish.io/blog/css-learn-to-style-react-forms-with-css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.form-box {
    min-width: 100%;
    margin: 0vw;
    padding: 5vw;
    position: relative;
    /* position:relative for .prevBtn and .nextBtn position:absolute; */
    /* background-color: #ecccd5; */
    background-image: linear-gradient(snow, #ecccd5, snow)
}

.form-box input {
    display: block;
    width: 100%;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    margin: 0.9vw 0;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
}

.form-box label {
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 0 0 2vh 0;
  }